.footer {
  background-color: #323842;
  border-radius: 20px 20px 0 0;

  .footer_container {
    max-width: 1400px;
    margin: 0 auto;

    .footer_top {
      display: flex;
      justify-content: space-between;
      text-align: center;
      gap: 8px;
      margin: 0 50px;

      .footerItem {
        display: block;
        width: 100%;
        color: white;
        margin: 20px 0;

        h2 {
          display: inline-block;
          font-size: 14px;
          padding: 8px 12px;
          background-color: #323842;
        }

        hr {
          margin-top: -17px;
          color: rgb(182, 182, 182);
        }

        ul {
          list-style: none;
          padding: 0;
          margin-top: 14px;

          li {
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 400;
          }
        }
      }
    }
    .footer_bottom {
      margin-top: 20px;
      padding-top: 30px;
      font-size: 12px;
      line-height: 17px;
      border-top: 1px solid #50555d;
    }

    .footer_data2 {
      top: 0;
      height: 60px;
      max-width: 1400px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer_logo {
        .logo {
          cursor: pointer;
        }
      }
    }
  }
}
